

    <div style="width: 100%;">
        <mat-toolbar class="conten">
              <span mat-dialog-title class="title"> Delegate  </span> 
             <span class="example-spacer"></span>
             <mat-icon aria-hidden="false" aria-label="add" class="add" (click)="close()">clear</mat-icon>     
           </mat-toolbar>
      </div>
        <mat-dialog-content [formGroup]="form">  
          <table>
           <tr>
             <td>
            <p *ngIf="admin"><span class="store">Store manager </span></p> 
            <p *ngIf="admin===false"><span class="store">No results for admin </span></p> 
             </td>
             <td>
            </td>
           </tr>
           <tr>
            <td>
                <ul class="list" *ngIf="admin">
                    <li> {{name}} </li>
                    <li> {{email}} </li>
                    <li> {{role}} </li>
                    <li> <span class="label">Store:</span>{{storeName}} </li>
                    <li> <span class="label">Company:</span> {{companyName}} </li>
                    <li> {{countryName}} </li>
                </ul>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
         
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
            </td>
            <td>
            
            </td>
          </tr>
          </table>     
          <br />
      </mat-dialog-content>
      <mat-dialog-actions   align="end" >  
         
          <button mat-raised-button
          matTooltip="Info about the action" color="primary"
          aria-label="Button that displays a tooltip in various positions" [mat-dialog-close]="Insert" (click)="save()">
          CONFIRM
         </button>   
      </mat-dialog-actions>

