

    <div style="width: 100%;">
        <mat-toolbar class="conten">
              <span mat-dialog-title class="title"> Add company  </span> 
             <span class="example-spacer"></span>
             <mat-icon aria-hidden="false" aria-label="add" class="add" (click)="close()">clear</mat-icon>     
           </mat-toolbar>
      </div>
  
        <br />
        <mat-dialog-content [formGroup]="form">       
          <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
          </mat-form-field>
          <br />
          <mat-label><span class="title-label">Photo</span></mat-label> 
          <span class="name">{{name}} </span>
          <input #inputFoto hidden="true"  formControlName="photo" type="file" onclick="this.value=null" (change)="fileChangeEvent($event)" />
          <button mat-flat-button  type="button" (click)="inputFoto.click()" class="btnFile"><span class="btn">UPLOAD </span></button> <br />
           <span class="error" *ngIf="true" >{{imageError}} </span>
         <br />
          <mat-form-field>
              <mat-label>Country</mat-label>
              <input matInput formControlName="country">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput formControlName="code">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <input matInput formControlName="currency">
        </mat-form-field>
          
      </mat-dialog-content>
      <mat-dialog-actions align="end">
  
          <button class="cancel" mat-button mat-dialog-close><span class="cancelTitle">Cancel</span></button> 
          <button mat-raised-button
          matTooltip="Info about the action" color="primary"
  
          aria-label="Button that displays a tooltip in various positions" [mat-dialog-close]="Insert" (click)="save()">
          Save
         </button>
       
          
      </mat-dialog-actions>
  
  
