.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  
  .side{
    width: 250px;
    background-color: #084eab;
  }

  .searchbox{
    margin-left: 10px !important;
  }
  
  input.form-control.buscar{
    height: 34px !important;
    width:  280px !important;
    border-radius: 5px !important;
    border: 0.5px solid green;
    
  }
  
  ::placeholder { 
    margin-left: 15px !important;
    color:black !important;
  }

  .delete{
    color: #ed5c5c;
  }

  
  .option{
    margin-left:30px !important;
  }

  .cancelTitle{
    color: #ed5c5c;
    font-size: 12px;
  }

  button:hover{
    color: black;
    font-weight:500;
  }

  .cancelTitleLast{
    color: #ed5c5c;
    font-size: 12px;
    font-weight: bold;
    margin-left: 50px !important;
  }
  
  button.cancel{
    border: 1px solid #ed5c5c;
    margin-right: 10px;
    margin-left: 20px !important;
   }

  .image-class{
    width:110px !important;
    height: 80px !important;
  }
  .edit{
    color: #084eab;
  }
  .nombre{
    font-size: 21px;
    color: #084eab;
    margin-left: 30px;
    font-weight: bold;
  }
  .categories{
    color: #870581 !important;
    font-size: 22px;
    margin-left: 10px;
    font-weight: bold;
    
  }
  mat-sidenav-content{
   background-color: white;
  }
  .category{
    margin-right: 200px !important;
  }
 

.ico{
  color:#e76f58;
  padding-left: 20px;
}

.icoFilter{
  color:#e76f58;
}

div.mat-menu-panel{
  width: 350px !important;
}


.anchor {
  padding-left: 20px;
  color: white;
}


.list {
  margin-top:50px !important;
}

.title-anchor{
  color: white;
  margin-left: 10px;
}

mat-divider {
  border: 1px solid #084eab !important;
  margin-left: 30px;
  margin-right: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}
th{
  background-color: #EEEDED !important;
  color: black;
}

mat-toolbar.conten {
  background-color: white !important;
}

.table{
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 50px;
}

table {
  width: 100%;
}


.title {
  color:#e76f58;
  margin-left: 10px !important;
}

.store {
  color:#084eab;
  text-decoration: underline;
  font-weight: bold !important;
}

.status {
  color:#084eab;
}

mat-toolbar {
  margin-top: 25px;
  background-color:#084eab !important;
}

th.actions{
  padding-left: 15px !important;

}

