

    <div style="width: 100%;">
        <mat-toolbar class="conten">
              <span mat-dialog-title class="title"> Roles  </span> 
             <span class="example-spacer"></span>
             <mat-icon aria-hidden="false" aria-label="add" class="add" (click)="close()">clear</mat-icon>     
           </mat-toolbar>
      </div>
        <mat-dialog-content >       
        
          <br />
          
         
          
      </mat-dialog-content>
      <mat-dialog-actions align="end">
          <button mat-raised-button
          matTooltip="Info about the action" color="primary"
  
          aria-label="Button that displays a tooltip in various positions" [mat-dialog-close]="Insert" (click)="save()">
          Ok
         </button>
        
      </mat-dialog-actions>
