.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  
  .side{
    width: 250px;
    background-color: #084eab;
  }

  .delete{
    color: #ed5c5c;
  }
  .edit{
    color: #084eab;
  }
  .nombre{
    font-size: 21px;
    color: #084eab;
    margin-left: 30px;
    font-weight: bold;
  }
  .categories{
    color: #870581 !important;
    font-size: 22px;
    margin-left: 10px;
    font-weight: bold;
    
  }
  mat-sidenav-content{
   background-color: white;
  }
  .category{
    margin-right: 200px !important;
  }

  .ico {
    color:#e76f58;
    padding-left: 20px;
}

.list {
  margin-top:50px !important;
}

mat-divider {
  border: 1px solid #084eab !important;
  margin-left: 30px;
  margin-right: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}
th{
  background-color: #EEEDED !important;
  color: black;
}

mat-toolbar.conten {
  background-color: white !important;
}

.table{
  margin-left: 30px;
  margin-right: 30px;
}

table {
  width: 100%;
}


.title {
  color:#e76f58;
  margin-left: 10px !important;
}

mat-toolbar {
  margin-top: 25px;
  background-color:#084eab !important;
}