

    <div style="width: 100%;">
        <span mat-dialog-title class="title"> Add category  </span> 
        <mat-icon aria-hidden="false" aria-label="add" class="add" (click)="close()">clear</mat-icon>

    </div>

      <br />
      <mat-dialog-content [formGroup]="form">       
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        
    </mat-dialog-content>
    <mat-dialog-actions align="end">

        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-butto
        matTooltip="Info about the action" color="primary"

        aria-label="Button that displays a tooltip in various positions" [mat-dialog-close]="Insert" (click)="save()">
        Save
       </button>
     
        
    </mat-dialog-actions>


